body {
    background-color: rgb(247, 236, 222)
}

h1 {
    text-align: center;
    font-size: 50px;
}

td {
    border: 0.01px solid; 
}

#sketchpad {
    background-color: rgb(251, 248, 241);
    border-collapse: collapse;
    width: 500px;
    aspect-ratio: 1/1; /*sets width = height */
    margin: 25px auto;
    
}

#flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#options{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#options button, .color-picker, .grid-slider {
    width: auto;
    height: 35px;
    justify-content: center;
    border-radius: 7px;
    border-color: rgb(84, 186, 185);
    font-size: 16px;
}

.slider-value {
    display: flex;
    justify-content: center;
}